@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}


<div class="text-3xl text-center mx-auto">
    <p class="text-red-500 font-bold">@ViewData["Title"]</p>
    <img class="mx-auto" src="https://cdn.betterttv.net/emote/5e15e00c0550d42106b90042/3x" />
    <p>You do not have access to this resource.</p>
</div>
