@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="text-3xl text-center mx-auto">
    <p>@ViewData["Title"]</p>
    <p>Please check your email to reset your password.</p>
</div>

