@using Microsoft.AspNetCore.Identity
@inject SignInManager<ShopUser> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="px-4 py-3">
        <span class="block text-sm">@User.Identity.Name</span>
    </div>
    <ul class="py-1" aria-labelledby="dropdown">
        <li>
            <a href="#" class="text-sm hover:bg-gray-100 text-gray-700 block px-4 py-2">My orders</a>
        </li>
        <li>
            <a asp-area="Identity" asp-page="/Account/Manage/Index" class="text-sm hover:bg-gray-100 text-gray-700 block px-4 py-2">Account</a>
        </li>
        <li>
            <a asp-area="Identity" asp-page="/Account/Logout" class="text-sm hover:bg-gray-100 text-gray-700 block px-4 py-2">Sign out</a>
        </li>
    </ul>
}
else
{
    <ul class="py-1" aria-labelledby="dropdown">
        <li>
            <a asp-area="Identity" asp-page="/Account/Login" class="text-sm hover:bg-gray-100 text-gray-700 block px-4 py-2">Sign In</a>
        </li>
        <li>
            <a asp-area="Identity" asp-page="/Account/Register" class="text-sm hover:bg-gray-100 text-gray-700 block px-4 py-2">Sign Up</a>
        </li>
    </ul>
}