@model IEnumerable<UrbanShop.Models.Product>

@{
    ViewData["Title"] = "Home";
}
<div class="carousel relative container mx-auto" style="max-width:1600px;">
    <div class="carousel-inner relative overflow-hidden w-full">
        <!--Slide 1-->
        <input class="carousel-open" style="display: none;" type="radio" id="carousel-1" name="carousel" aria-hidden="true" hidden="" checked="checked">
        <div class="carousel-item absolute opacity-0" style="height:50vh;">
            <div class="block h-full w-full mx-auto flex pt-6 md:pt-0 md:items-center bg-cover bg-right" style="background-image: url('/images/carousel1.jpg');">

                <div class="container mx-auto">
                    <div class="flex flex-col w-full lg:w-1/2 md:ml-16 items-center md:items-start px-6 tracking-wide">
                        <a class="text-white text-2xl my-4 hover:underline cursor-pointer" asp-controller="Shop" asp-action="Index">Spring refresh</a>
                        <a class="text-white text-xl inline-block no-underline leading-relaxed cursor-pointer hover:underline" asp-controller="Shop" asp-action="Index">Elevate your look with soft, sun-kissed knits</a>
                    </div>
                </div>

            </div>
        </div>
        <label for="carousel-3" class="select-none prev control-1 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-gray-900 leading-tight text-center z-10 inset-y-0 left-0 my-auto">‹</label>
        <label for="carousel-2" class="select-none next control-1 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-gray-900 leading-tight text-center z-10 inset-y-0 right-0 my-auto">›</label>

        <!--Slide 2-->
        <input class="carousel-open" style="display: none;" type="radio" id="carousel-2" name="carousel" aria-hidden="true" hidden="">
        <div class="carousel-item absolute opacity-0 bg-cover bg-right" style="height:50vh;">
            <div class="block h-full w-full mx-auto flex pt-6 md:pt-0 md:items-center bg-cover bg-right" style="background-image: url('/images/carousel2.jpg');">

                <div class="container mx-auto">
                    <div class="flex flex-col w-full lg:w-1/2 md:ml-16 items-center md:items-start px-6 tracking-wide">
                        <a class="text-white text-2xl my-4 hover:underline cursor-pointer" asp-controller="Shop" asp-action="Index">Discover Spring Fashion</a>
                        <a class="text-white text-xl inline-block no-underline leading-relaxed cursor-pointer hover:underline" asp-controller="Shop" asp-action="Index">Look ahead in the season's boldest and brightest designer fashion. </a>
                    </div>
                </div>

            </div>
        </div>
        <label for="carousel-1" class="select-none prev control-2 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-gray-900  leading-tight text-center z-10 inset-y-0 left-0 my-auto">‹</label>
        <label for="carousel-3" class="select-none next control-2 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-gray-900  leading-tight text-center z-10 inset-y-0 right-0 my-auto">›</label>

        <!--Slide 3-->
        <input class="carousel-open" style="display: none;" type="radio" id="carousel-3" name="carousel" aria-hidden="true" hidden="">
        <div class="carousel-item absolute opacity-0" style="height:50vh;">
            <div class="block h-full w-full mx-auto flex pt-6 md:pt-0 md:items-center bg-cover bg-bottom" style="background-image: url('/images/carousel3.jpg');">

                <div class="container mx-auto">
                    <div class="flex flex-col w-full lg:w-1/2 md:ml-16 items-center md:items-start px-6 tracking-wide">
                        <a class="text-white text-2xl my-4 hover:underline cursor-pointer" asp-controller="Shop" asp-action="Index">Bring spring in</a>
                        <a class="text-white text-xl inline-block no-underline leading-relaxed cursor-pointer hover:underline" asp-controller="Shop" asp-action="Index">Embrace being at one with nature with our newest collection</a>
                    </div>
                </div>

            </div>
        </div>
        <label for="carousel-2" class="select-none prev control-3 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-gray-900  leading-tight text-center z-10 inset-y-0 left-0 my-auto">‹</label>
        <label for="carousel-1" class="select-none next control-3 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-gray-900  leading-tight text-center z-10 inset-y-0 right-0 my-auto">›</label>

        <!-- Add additional indicators for each slide-->
        <ol class="carousel-indicators select-none">
            <li class="inline-block mr-3">
                <label for="carousel-1" class="carousel-bullet cursor-pointer block text-4xl text-gray-400 hover:text-gray-900">•</label>
            </li>
            <li class="inline-block mr-3">
                <label for="carousel-2" class="carousel-bullet cursor-pointer block text-4xl text-gray-400 hover:text-gray-900">•</label>
            </li>
            <li class="inline-block mr-3">
                <label for="carousel-3" class="carousel-bullet cursor-pointer block text-4xl text-gray-400 hover:text-gray-900">•</label>
            </li>
        </ol>

    </div>
</div>

<section class="bg-white py-8">

    <div class="container mx-auto flex items-center justify-evenly flex-wrap pt-4 pb-12">

        <nav id="store" class="w-full z-30 top-0 px-6 py-1">
            <div class="w-full container mx-auto flex flex-wrap items-center mt-0 px-2 py-3">
                <a class="pr-6 uppercase tracking-wide no-underline hover:no-underline font-bold text-gray-800 text-xl">
                    Most popular
                </a>
                <a asp-controller="Shop" asp-action="Index" class="tracking-wide text-gray-400 hover:text-gray-800 text-sm">
                    See more...
                </a>
            </div>
        </nav>

        @foreach (var product in Model)
        {
            <div class="border border-gray-300 border-opacity-50 rounded-md shadow-md w-3/4 md:w-1/3 xl:w-24/100 p-6 m-1 flex flex-col items-center justify-around hover:grow hover:shadow-lg hover:z-10">
                <a asp-controller="Shop" asp-action="Product" asp-route-id="@product.Id">
                    <img class="" src="@product.GetThumbnailUrl()">
                </a>
                <div class="pt-3 w-full flex items-center justify-between">
                    <a asp-controller="Shop" asp-action="Product" asp-route-id="@product.Id">
                        <p class="product-name text-gray-900 text-lg font-bold">@product.Name</p>
                    </a>
                    <div class="flex flex-row items-center">
                        <p class="pt-1 text-gray-900 text-lg">$@product.Price</p>
                    </div>
                </div>
            </div>
        }
    </div>

</section>

<script src="https://js.stripe.com/v3/"></script>
<script>
    const stripe = Stripe("pk_test_51JKj6YCXiSxnUOAuzJLUMe7S0GQ6LYWfFa7QqqGmfTqE4ixj00PerWKuSYSmvrtN1UaVePG36h6YtvliCDXMrdtx00RqjuKQUW");

    checkStatus();

    // Fetches the payment intent status after payment submission
    async function checkStatus() {
        console.log("checkstatus running");
        const clientSecret = new URLSearchParams(window.location.search).get(
            "payment_intent_client_secret"
        );

        if (!clientSecret) {
            return;
        }

        const { paymentIntent } = await stripe.retrievePaymentIntent(clientSecret);

        switch (paymentIntent.status) {
            case "succeeded":
                toastr.success("Payment succeeded!");
                break;
            case "processing":
                toastr.info("Your payment is processing.");
                break;
            case "requires_payment_method":
                toastr.error("Your payment was not successful, please try again.");
                break;
            default:
                toastr.error("Something went wrong.");
                break;
        }
    }
</script>
